{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <div class="layui-container">
        <div class="layui-card-container">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">租客信息</li>
                            <li>租赁合同</li>
                            <li>账单记录</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                {{ include('tenant/include/information.html.twig') }}
                            </div>
                            <div class="layui-tab-item">
                                {% if contracts %}
                                    {% for contract in contracts %}
                                        {{ include('tenant/include/contract.html.twig') }}
                                    {% endfor %}
                                    <a href="{{ path('create_contract',{tenant:tenant.id}) }}" class="layui-btn layui-btn-sm">签订合同</a>
                                {% else %}
                                    <a href="{{ path('create_contract',{tenant:tenant.id}) }}" class="layui-btn layui-btn-sm">签订合同</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        layui.use(['jquery','layer'], function(){
            var $ = layui.$;
            var layer = layui.layer;
            var reads= new FileReader();
            var $idCardImage = $("input[name='idCardImage']");
            var $idCardImagePreviewDiv = $('#idCardImagePreviewDiv');
            $('#upload').click(function () {
                $idCardImage.click();
            });
            $idCardImage.on('change', function () {
                if ($(this).val()) {
                    $idCardImagePreviewDiv.show();
                    var file= document.getElementById('idCardImageInput').files[0];
                    reads.readAsDataURL(file);
                    reads.onload=function (e) {
                        document.getElementById('idCardImagePreviewImg').src=this.result;
                    };
                }else{
                    $idCardImagePreviewDiv.hide();
                    document.getElementById('idCardImagePreviewImg').src= '';
                }
            });
            $('#cancelIdCardImageBtn').click(function () {
                $idCardImage.val('');
                $idCardImage.change();
                $('#clickedCancelInput').val(1);
            });
        });
    </script>
{% endblock %}
