{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <div class="layui-container">
        {{ include('common/success_flash.html.twig') }}
        <div style="width: 100%">
            <table id="houseTable" class="layui-table" lay-filter="houseTable">
                <thead>
                <tr>
                    <th>房屋</th>
                    <th>房间号</th>
                    <th>租金</th>
                    <th>承租人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    <tr>
                        <td>{{ contract.house.name }}</td>
                        <td>{{ contract.room.name }}</td>
                        <td>{{ contract.room.rent }}</td>
                        <td>{{ contract.tenant.realname }}</td>
                        <td>
                            <a href="" class="layui-btn layui-btn-sm">管理</a>
                            <a href="" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ knp_pagination_render(contracts) }}

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        layui.use(['jquery','layer'], function(){
            var $ = layui.$;
            var layer = layui.layer;
        });
    </script>
{% endblock %}
