{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <div class="layui-container">
        {{ include('common/success_flash.html.twig') }}
        <div style="width: 100%">
            <table id="houseTable" class="layui-table" lay-filter="houseTable">
                <thead>
                <tr>
                    <th>房屋</th>
                    <th>房间号</th>
                    <th>租金</th>
                    <th>承租人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    <tr>
                        <td>{{ contract.house.name }}</td>
                        <td>{{ contract.room.name }}</td>
                        <td>{{ contract.rent }}</td>
                        <td>{{ contract.tenant.realname }}</td>
                        <td>
                            <a href="{{ path('show_contract',{id:contract.id}) }}" class="layui-btn layui-btn-sm">管理</a>
                            <a href="javascript:;" data-contract="{{ contract.id }}" class="layui-btn layui-btn-sm layui-btn-danger delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ knp_pagination_render(contracts) }}

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        layui.use(['jquery','layer'], function(){
            var $ = layui.$;
            var layer = layui.layer;
            $('.delete').click(function () {
                var contract = $(this).data('contract');
                //询问框
                layer.confirm('确定删除此账单？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post("{{ path('delete_contract') }}",{contract:contract},function (response) {
                        if (response.code === 200) {
                            layer.msg(response.message);
                            setTimeout(function () {
                                window.location.reload();
                            },1500)
                        }else{
                            layer.msg(response.message);
                        }
                    });
                }, function(){

                });
            });
        });
    </script>
{% endblock %}
